@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

#bar {
    width: 200vw;
    transition: 1000ms all linear;
}

#timer {
    position: absolute;
    margin: auto;
    font-size: 30vw;
    font-weight: 900;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: black;
    z-index: 10;
}

body {
    font-family: Roboto, sans-serif;
    background-color: black;

}

body.is-flexible {
    overflow: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    min-height: 100vh;
    padding: 24px 56px 40px 32px;
    position: relative;
}

.content.is-index {
    display: block;
}

h1 {
    font-weight: 900;
    font-size: 88px;
    line-height: 1.1;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: black;
    padding-bottom: 40px;
    padding-top: 16px;
}

.is-right {
    position: absolute;
    right: 32px;
}

.is-bottom {
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 48px;
    font-weight: 500;
    color: white;
}

h2 span:last-child {
    padding-left: 48px;
}

h2 a {
    color: inherit;
}

h2 a:hover {
    color: red;
}

h3 {
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 16px;
    font-weight: 500;
    color: white;
}

p {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
    color: white;
}

ul {
    list-style: circle inside;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

li {
    line-height: 1.4;
    padding-bottom: 16px;
    color: white;
}

.btn {
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 16px 24px;
    color: #000000;
    border: 1px solid white;
    border-radius: 42px;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 32px;
    color: white;
    background: black;
    cursor: default;
}

.btn.is-right {
    left: unset;
    right: 56px;
}

.btn:hover {
    color: red;
    border: 1px solid red;
}

.info {
    border: 1px solid #000000;
    padding: 24px 96px 24px 16px;
    display: inline-flex;
    flex-flow: column;
    background: black;
    box-shadow: 16px 16px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    overflow: hidden;
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@media (max-width: 1023px) {
    .content {
        padding: 24px 38px 40px 32px;
    }

    h1 {
        /* font-size: 88px; */
        font-size: 9.2vw;
        padding-bottom: 40px;
        padding-top: 16px;
        /* text-align: center; */
    }

    h2 {
        font-size: 30px;
        font-size: 4vw;
        padding-bottom: 48px;
    }
    h2 span:last-child {
        padding-left: 48px;
    }

    h3 {
        font-size: 22px;
        font-size: 2.85vw;
        padding-bottom: 16px;
    }

    p {
        padding-bottom: 24px;
        font-size: 2.85vw;
    }

    ul {
        padding-left: 8px;
        font-size: 24px;
        font-size: 2.9vw;
    }

    li {
        padding-bottom: 16px;
    }

    .info {
        padding: 24px 5vw 24px 16px;
    }

    .btn {
        position: static;
        transform: translateX(-20%);

    }
}

@media (max-width: 414px) {
    .content {
        padding: 40px 10px 60px 10px;
    }

    h1 {
        /* font-size: 88px; */
        font-size: 8.4vw;
        padding-bottom: 20px;
        padding-top: 16px;
        text-align: center;
        -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    }

    .is-left {
        position: absolute;
        left: 15px;

    }

    .is-right {
        position: absolute;
        right: 15px;
        display: none;
    }

    .is-bottom {
        position: absolute;
        bottom: 40px;
    }

    h2 {
        font-size: 30px;
        font-size: 5.8vw;
        padding-bottom: 30px;
        text-align: center;
    }
    h2 span:last-child {
        padding-left: 48px;
    }

    h3 {
        font-size: 22px;
        font-size: 5vw;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 20px;
        font-size: 4.2vw;
    }

    ul {
        padding-left: 8px;
        font-size: 24px;
        font-size: 5vw;
    }

    li {
        padding-bottom: 16px;
    }

    .info {
        padding: 10px 2vw 10px 10px;
        border: 1px solid rgb(255, 255, 255);
    }

    .btn {
        position: static;
        transform: translateX(-8%);
        font-size: 20px;
        border: 1px solid rgb(255, 255, 255);
    }
}
